.col-md-4 {
  padding: 1rem;
}

#quote-box,
.navigation {
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
  /*  used to center received quote 
  display: flex;
  align-items: center; */
}

p.quote-display {
  text-align: right;
  margin-bottom: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid var(--footer-bg-color);
  border-bottom: 2px solid var(--footer-bg-color);
}

a.nav-link {
  font-size: 1.2rem;
  color: var(--footer-font-color);
  border-bottom: 2px solid transparent;
}
#home-link:hover {
  color: var(--orange-color);
  border-bottom: 2px solid var(--orange-color);
}

#title-link:hover {
  color: var(--title-color);
  border-bottom: 2px solid var(--title-color);
}

#category-link:hover {
  color: var(--category-color);
  border-bottom: 2px solid var(--category-color);
}

#author-link:hover {
  color: var(--author-color);
  border-bottom: 2px solid var(--author-color);
}

.contact-info {
  padding: 3rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}
