/* @import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap"); */

/*.quote-display {
  font-family: "The Nautigal", cursive;
  /* font-family: "Luxurious Roman", cursive; */

#quote-box {
  background-color: black;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: red;
}
