<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" id="quote-box">
        <div>
          <h4 class="quote-display">
            {{ retrievedQuote.text }}
          </h4>
          <p class="quote-display">-{{ retrievedQuote.author }}</p>
        </div>
      </div>
      <div class="col-md-4 copyright">
        <h3>Books Books EST.1973</h3>
        <h4>copyright {{ displayYear }}</h4>
      </div>
      <div class="col-md-4 navigation d-none d-sm-block">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              id="home-link"
              class="nav-link active"
              aria-current="page"
              routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              id="title-link"
              class="nav-link"
              routerLink="title"
              routerLinkActive="active"
              >Title</a
            >
          </li>
          <li class="nav-item">
            <a
              id="author-link"
              class="nav-link"
              routerLink="author"
              routerLinkActive="active"
              >Author</a
            >
          </li>
          <li class="nav-item">
            <a
              id="category-link"
              class="nav-link"
              routerLink="category"
              routerLinkActive="active"
              >Category</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row contact-info">
      <p>Contact Info Here</p>
    </div>
  </div>
</footer>
