.col-md-4 {
  padding: 1rem;
}

#quote-box,
.navigation {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  /*  used to center received quote 
  display: flex;
  align-items: center; */
}

p.quote-display {
  text-align: right;
  margin-bottom: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid hsl(0, 0%, 8%);
  border-bottom: 2px solid hsl(0, 0%, 8%);
}

a.nav-link {
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
}
#home-link:hover {
  color: #fd7e14;
}

#title-link:hover {
  color: #198754;
}

#category-link:hover {
  color: #0dcaf0;
}

#author-link:hover {
  color: #0d6efd;
  /* border-bottom: 1px solid #0d6efd; */
}

.contact-info {
  padding: 3rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}
