<section class="title-style">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2>Search by Title</h2>
        </div>
        <div>
          <form
            [formGroup]="searchTitleForm"
            (ngSubmit)="getTitle(searchTitleForm.value.title)"
            autocomplete="off"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="title-search"
                aria-describedby="emailHelp"
                formControlName="title"
              />

              <span
                *ngIf="
                  !searchTitleForm.get('title').valid &&
                  searchTitleForm.get('title').touched
                "
                >Please enter a valid search title</span
              >
            </div>

            <button class="btn btn-orange selection">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <table class="table table-hover" *ngIf="titleArray.length > 0">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col" class="d-none d-lg-table-cell">Author</th>
            <th scope="col" class="d-none d-lg-table-cell">Printed</th>
          </tr>
        </thead>
        <tbody *ngFor="let title of titleArray; let id = index">
          <tr (click)="toBookInfo(title.volumeInfo.title, title.id)">
            <th scope="row">{{ id + 1 }}</th>
            <td>
              {{ title.volumeInfo.title }}
            </td>
            <td class="d-none d-lg-table-cell">
              {{ title.volumeInfo.authors || noData }}
            </td>
            <td class="d-none d-lg-table-cell">
              {{ (title.volumeInfo.publishedDate | slice: 0:4) || noData }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
