/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  line-height: 1.8;
}

:root {
  --author-color: hsl(216, 98%, 52%);
  --category-color: hsl(190, 90%, 50%);
  --title-color: hsl(152, 69%, 31%);
  --orange-color: hsl(27, 98%, 54%);
  --error-color: hsl(0, 100%, 50%);
  --footer-bg-color: hsl(0, 0%, 8%);
  --footer-font-color: hsl(0, 0%, 100%);
}

.home-shadow {
  background: #fff;
}

.author-shadow {
  background: linear-gradient(var(--author-color), #fff);
}
.title-shadow {
  background: linear-gradient(var(--title-color), #fff);
}
.category-shadow {
  background: linear-gradient(var(--category-color), #fff);
}

img {
  height: 250px;
}

.img-box {
  text-align: center;
}

.authors-style {
  background: linear-gradient(#ffffff, var(--author-color));
}

.title-style {
  background: linear-gradient(#ffffff, var(--title-color));
}

.category-style {
  background: linear-gradient(#ffffff, var(--category-color));
}

.btn {
  font-weight: 500;
  letter-spacing: 0.2em;
}

.btn-orange {
  background-color: var(--orange-color);
  transition: transform 0.5s, box-shadow 0.5s;
}

.btn-orange:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px 0px hsla(0, 0%, 100%, 0.5);
}
/* FORM VALIDATION */
input.ng-invalid.ng-touched {
  border: 2px solid var(--error-color);
}

/* Title Search */
.card-group {
  justify-content: center;
}

.card {
  max-width: 16em;
}
.card-img-top {
  height: 15em;
  object-fit: contain;
  padding: 0.2em 0;
}
