nav {
  padding: 2rem 0;
  /* background: linear-gradient(var(--author-color), #ffffff); */
}

a {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  padding-bottom: 0;
}

#home-link:hover,
#home-link.active {
  border-bottom: 2px solid var(--orange-color);
}

#title-link:hover,
#title-link.active {
  border-bottom: 2px solid var(--title-color);
}

#author-link:hover,
#author-link.active {
  border-bottom: 2px solid var(--author-color);
}

#category-link:hover,
#category-link.active {
  border-bottom: 2px solid var(--category-color);
}
