<nav class="navbar navbar-expand-lg navbar-light bg-{{ navbarColour }}">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Books</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            id="home-link"
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            id="title-link"
            class="nav-link"
            routerLink="title"
            routerLinkActive="active"
            >Title</a
          >
        </li>
        <li class="nav-item">
          <a
            id="author-link"
            class="nav-link"
            routerLink="author"
            routerLinkActive="active"
            >Author</a
          >
        </li>
        <li class="nav-item">
          <a
            id="category-link"
            class="nav-link"
            routerLink="category"
            routerLinkActive="active"
            >Category</a
          >
        </li>
      </ul>
    </div>

    <p>{{ dateObj | date }}</p>
  </div>
</nav>
