<section class="category-style">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2>Search by Category</h2>
        </div>
        <div>
          <div>
            <form
              [formGroup]="searchCategoryForm"
              (ngSubmit)="getCategory(searchCategoryForm.value.category)"
              autocomplete="off"
            >
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="category-search"
                  aria-describedby="emailHelp"
                  formControlName="category"
                />
                <span
                  *ngIf="
                    searchCategoryForm.get('category').touched &&
                    !searchCategoryForm.get('category').valid
                  "
                  >Please enter a valid Category</span
                >
              </div>
              <button class="btn btn-orange">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card-group"
        *ngFor="let category of categorySearchArray"
      >
        <div class="card" style="width: 18rem">
          <img
            src="{{ category.volumeInfo.imageLinks.thumbnail }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ category.volumeInfo.title }}</h5>
            <p class="card-text">
              {{ category.volumeInfo.categories[0] }}
              -{{ category.volumeInfo.averageRating }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {{ category.volumeInfo.authors[0] }}
            </li>
          </ul>
          <div class="card-body">
            <button
              class="btn-primary"
              (click)="toGenreInfo(category.volumeInfo.title, category.id)"
            >
              preesss me
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
