<div>
  <form
    [formGroup]="searchCategoryForm"
    (ngSubmit)="getCategory(searchCategoryForm.value.category)"
    autocomplete="off"
  >
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="category-search"
        aria-describedby="emailHelp"
        formControlName="category"
      />
      <span
        *ngIf="
          searchCategoryForm.get('category').touched &&
          !searchCategoryForm.get('category').valid
        "
        >Please enter a valid Category</span
      >
    </div>
    <button class="btn btn-orange">Search</button>
  </form>
</div>
